# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# IDE and Editor settings
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints
